#!/bin/bash

SQL_HOST=${CW_DB_HOST:-localhost}
SQL_USER=${CW_DB_USER:-sphinx}
SQL_PASS=${CW_DB_PASSWORD:-test1234}
SQL_DB=${CW_DB_NAME:-cw}
echo "
source cw_area 
{

	type = mysql
	
	sql_host = $SQL_HOST
	sql_user = $SQL_USER
	sql_pass = $SQL_PASS
	sql_db = $SQL_DB
	sql_port = 3306
	
	sql_query = SELECT \
					area.area_id, area.name, area.name as name_attr, state.name, area.description, area.city \
				FROM \
					area \
						INNER JOIN state ON area.state_code = state.state_code \
				WHERE \
					latitude is not null AND longitude is not null AND show_weather = 1
						
	sql_attr_str2ordinal = name_attr
	
	sql_query_info = SELECT name from area where area_id = $id
	
}

index cw_area_index {

	source = cw_area
	path = /home/sphinxsearch/indexes/cw_area.index
	
	docinfo = extern
	mlock = 0
	morphology = stem_en
	
	min_word_len = 3
	charset_type = sbcs

}
		

indexer 
{
	mem_limit = 128M
	
}

searchd 
{
	log = /home/sphinxsearch/logs/searchd.log
	query_log = /home/sphinxsearch/logs/query.log
	binlog_path = /home/sphinxsearch/binlog
	listen = 0.0.0.0:9306:mysql41
	read_timeout = 5
	max_children = 30
	pid_file = /home/sphinxsearch/searchd.pid
	max_matches = 1000
	seamless_rotate = 1
	preopen_indexes = 0
	unlink_old = 1
}

# --eof--
"
